.row.justify-content-md-center.profile-wrapper
  .col-md-4.text-center
    = image_tag avatar_url(@user), width: '152', height: '152', class: 'round-img'
  .col-md-8
    .row
      %p.username= @user.name
      - if @user == current_user
        = link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-outline-dark common-btn edit-profile-btn'
        %button.core-sprite.setting{ type: :button, data: { toggle: :modal, target: '#exampleModal' }}

      .modal.fade#exampleModal{ tabindex: -1, role: :dialog, aria: { labelledby: :exanpleModalLabel, hidden: true }}
        .modal-dialog{ role: :document }
          .modal-content
            .modal-header
              %h5.modal-title#exampleModalLabel Settings
              %button.close{ type: :button, data: { dismiss: :modal }, aria: { label: 'Close'} }
                %span{ aria: { hidden: true } } &times;
            .list-group.text-center
              %a.list-group-item.list-group-item-action{ href: '#' } Change Password
              = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'list-group-item list-group-item-action'
              %a.list-group-item.list-group-item-action{ href: '#', data: { dismiss: :modal } } Cancel
    .row
      %p.email= @user.email

  .profile-tab
    - if @user == current_user
      %nav
        #nav-tab.nav.nav-tabs.d-flex.justify-content-center{ role: :tablist }
          %a#nav-post-tab.nav-item.nav-link.active{ aria: { controls: 'nav-post', selected: :true }, "data-toggle": :tab, href: "#nav-post", role: :tab } POSTS
          %a#nav-saved-tab.nav-item.nav-link{ aria: { controls: 'nav-post', selected: :false }, "data-toggle": :tab, href: "#nav-saved", role: :tab } SAVED

    #nav-tabContent.tab-content.pb-3
      #nav-post.tab-pane.fade.show.active{"aria-labelledby": "nav-post-tab", role: "tabpanel"}
        .row= render 'posts', posts: @posts
      - if @user == current_user
        #nav-saved.tab-pane.fade{"aria-labelledby": "nav-saved-tab", role: "tabpanel"}
          .row= render 'posts', posts: @saved_posts