- @posts.each do |post|
  .card.mt-3.post
    .card-header.d-flex.align-items-center
      = link_to user_path(post.user), class: 'no-text-decoration' do
        = image_tag avatar_url(post.user), class: 'post-author-icon'
        = link_to user_path(post.user), class: 'ml-2 normal-color no-text-decoration', title: post.user.name do
          %strong= post.user.name
        - if post.belongs_to?(current_user)
          = link_to post_path(post), method: :delete, class: 'ml-auto delete-post-icon mx-0 my-auto' do
            %i.far.fa-trash-alt{ aria: { hidden: true } }

    = render 'photos', post: post

    .card-body
      .row.actions
        %div{ id: "like-icon-post-#{post.id}" }= render 'like_icon', post: post
        %a.core-sprite.comment.hide-text Comment
        %a.core-sprite.bookmark.hide-text.ml-auto Bookmark

      %div{ id: "like-text-post-#{post.id}" }= render 'like_text', likes: post.likes

      %div
        %span
          %strong= post.user.name
        %span= post.content

      = link_to "#{time_ago_in_words(post.created_at).upcase} AGO", post_path(post), class: 'light-color post-time no-text-decoration'
      %hr
      .row.actions
        %form{ action: '#', class: 'w-100' }
          %div
            %textarea.form-control.comment-input.border-0{ rows: 1, placeholder: 'Add a comment...' }