!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InstagramClone
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar' if user_signed_in?
    .container= yield
    = render 'shared/footer'

    - if flash.any?
      %script
        - flash.each do |key, value|
          - type = key.to_s.gsub('alert', 'error').gsub('notice', 'success')
          = "toastr.#{type}('#{value}')".html_safe
